<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HFTimerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A80B79C71D3147CA006EC923</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A80B79E01D3147CA006EC923</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A80B79EB1D3147CA006EC923</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
